body
{
	background: #eee;
	font-family: 'Roboto','Arial','Microsoft YaHei';}

body a:link
{
	text-decoration: none;
}

::selection     {background: #ea4c88; color: #fff; }
::-moz-selection  {background: #ea4c88; color: #fff; }

.side
{
	position:fixed;
	top:0;
	left:100%;
	width: 200px;
	height: 100% !important;
	border-radius: 0 !important;
	overflow-y:auto;
	z-index: 999;
	background: #555;
	margin-left:0; 
	overflow: hidden;
}
.side:hover {
	overflow-y: scroll;
}

.side #back
{
	width: 100%;
	height: 55px;
	background: #333;
}


#back span
{
	color:#fff;
	margin: 28px 0 0 15px;
}

.side ul
{
	padding-left: 0;
}

.side ul li
{
	list-style-type: none;
	line-height: 24px;
	padding-left: 28px;
}

.side ul li:hover
{
	background: #666;
}

.side ul li a
{
	color:#ddd;
	font-size:12px;
	line-height: 28px;
}

.side h5
{
	margin:20px 40px 5px 20px;
	padding-bottom: 10px;
	color:#eee;
	font-size:13px;
	border-bottom: solid 1px #666;
}

.navbar-nav
{
	float: right;
}

.navbar
{
	margin-bottom:0;
	border-radius: 0;
	border:0;
	background: #eee;	
}

.navbar-header
{
	float:left;
}

.navbar-brand
{
	font-size: 12px;
	padding:0;
	padding-left: 10px;
	margin-top:5px;
	color:#333;
	border-left: solid 2px #666;
	height:auto;
}


#work-panel span
{
	margin-right: 5px;
}

#logo
{
	width: 271px;
	height: 114px;
	background: url(/assets/images/logo.png);
	background-size: cover;
	z-index: 999;
	margin:0 auto;
	margin-bottom: 20px;
}

header
{
	background: #eee;
	margin: 20px 0;
}

.container
{
	max-width: 990px;
}

.main-content
{
	margin-bottom: 20px;
}

.review-content img
{
	width: 100%;
}

.article-content
{
	display: block;
	border:solid 1px #ddd;
	background: #fff;
	height: auto;
 	width: auto;
	position: relative;
}

.col-xs-12, .col-sm-6, .col-md-4, .col-md-3, .col-md-2
{
	padding: 10px;
}


article h1
{
	font-size: 18px;
	line-height: 30px;
	font-weight: 400;
	color:#666;
}

article .intro
{

	margin: 10px 50px  30px 50px;
	color:#999;
	font-size:12px;
}

.img-content
{
	position:relative;
}



.img-content:hover .article-caption{
	opacity: 0.9;
}

.article-caption
{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	display: block;
	opacity: 0.0;
	transition:opacity 0.5s ease;
	-webkit-transition: opacity 0.5s ease;
  	-moz-transition: opacity 0.5s ease;
  	-o-transition: opacity 0.5s ease;
}

.article-caption .enter-img
{
	width: 65px;
	height: 65px;
	position: absolute;
	top: 35%;
	right:40%;
	background: url(/assets/images/enter.png);
	background-size: cover;
}

.article-large .article-caption .enter-img
{
	position: absolute;
	right: 45%;
}

.article-caption .enter-img:hover
{
	background: url(/assets/images/enter-hover.png);
	background-size: cover;
}

.single-content
{
	margin-bottom: 20px;
	height: 100%;
}

.single-content h4
{
	font-weight: 100;
	margin-bottom: 25px;
}

.single-content .post-single
{
	background: #fff;
	border:solid 1px #ddd;
}

.single-content .post-single img
{
	width: 100%;
}

.single-content .post-single p
{
	display: inline-block;
	font-size: 12px;
	line-height: 42px;
	margin-left: 10px;
	margin-bottom: 5px;	
	color:#666;
}

.single-content .single-cat
{
	display: inline-block;
	font-size: 14px;
	color:#F9684B;
}

.single-content .row
{
	padding-bottom: 10px;
}

.single-content .menber
{
	font-size: 12px;

}

.post-single:hover span
{
	opacity: 1;
}

.post-single span:hover
{
	color:#333;
}

footer
{
	width: 100%;
	height: 60px;
	background: #333;
}

footer .container
{
	width: 100%;
	height: 100%;
	margin:0 auto;
}

footer .logo
{
	float: right;
	margin-top: 10px;
}

footer img
{
	margin-right: 10px;
}

footer span
{
	color:#bbb;
	font-size: 12px;
	float:right;
}


.nav>li>a
{
	padding:8px 4px;
	margin:0 10px 0 10px;
}

.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  color: #555;
  background-color:transparent;
  border-bottom:solid 2px #777;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  color: #ff9147;
  background-color: transparent;
}

.scrollbar-measure {
	width: 100px;
	height: 100px;
	overflow: scroll;
	position: absolute;
	top: -9999px;
}